.content {
    position: relative;
    height: 100vh;
}

.content-popup {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    margin: 32px;
}

.content-popup-container {
    position: relative;
}

.content-popup-inner {
    padding: 16px;
    background-color: var(--color-floral-white);
    max-width: 516px;
    width: 100%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23000000' stroke-width='4' stroke-dasharray='10%2c10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 16px;
}

.content-popup-outer {
    position: absolute;
    right: -16px;
    top: -16px;
    color: var(--color-floral-white);
    background-color: var(--color-brown);
    padding: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0;
    border: none;
    font-size: 16px;
}

.content a {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 16px;
    z-index: 1;
    color: var(--color-floral-white);    
    font-size: var(--fs-caption);
}

.content-bg {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("../assets/svg/brown-bg.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.content-container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 56px;
    position: relative;
    z-index: 1;
}

.content-left {
    max-width: 516px;
    justify-content: space-between;
}

.content-right {
    max-width: 732px; 
}

.content-right img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 16px;
    display: inline-block; 
}

.content-intro, .content-top, .content-bottom, .content-output, .content-left {
    display: flex;
    flex-direction: column;
}

.content-intro {
    gap: 32px;
}

.content-top, .content-bottom {
    gap: 16px;
}

.content-bottom p {
    font-weight: var(--fw-bold);
}

.content-output {
    gap: 8px;
}

.content-output-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.content-output-list li {
    padding: 40px;
    border-radius: 16px;
}

.content-output-gft {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%2322C55E' stroke-width='4' stroke-dasharray='10%2c10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

.content-output-paper {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%239CA3AF' stroke-width='4' stroke-dasharray='10%2c10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

.content-output-plastic {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%232F80ED' stroke-width='4' stroke-dasharray='10%2c10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

.content-output-rest {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23000000' stroke-width='4' stroke-dasharray='10%2c10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

.content-output-list li i {
    font-size: 24px;
}

.content-output-gft i {
    color: var(--color-green);
}

.content-output-paper i {
    color: var(--color-light-grey);
}

.content-output-plastic i {
    color: var(--color-blue);
}

.content-output-rest i {
    color: var(--color-black);
}
