* ,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    font-family: var(--plus-jakarta-sans), Arial, sans-serif;
    font-weight: var(--fw-regular);
    font-size: var(--fs-regular);
    line-height: 1.4;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--color-floral-white);
    color: var(--color-black);
    width: 100%;
    margin: 0;
    padding: 0;
}
