:root {
    /* Colors */
    --color-floral-white: #F2F2E9;
    --color-black: #000000;
    --color-green: #22C55E;
    --color-light-grey: #9CA3AF;
    --color-blue: #2F80ED;
    --color-brown: #3C352A;

    /* Fonts */
    --plus-jakarta-sans: "Plus Jakarta Sans";

    /* Font sizes */
    --fs-h1: 3.8125em;     /* 61px */
    --fs-regular: 1em;     /* 16px */
    --fs-caption: .75em;    /* 12px */

    /* Font weights */
    --fw-extrabold: 800;
    --fw-bold: 700;
    --fw-regular: 400;
}
